version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend-service
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend-app
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
